$def with (marks)
<h3>$marks['name']</h3>
<table class="markstable">
  <tr>
    <td>Assesment</td>
    <td>Marks</td>
    <td>Max Mark</td>
    <td>Grade</td>
    <td>Percent</td>
  </tr>
  <tr>
    <td>FA 1</td>
    <td>$marks['fa1_m']</td>
    <td>$marks['fa1_o']</td>
    <td>$marks['fa1_g']</td>
    <td>$marks['fa1_p']</td>
  </tr>
  <tr>
    <td>FA 2</td>
    <td>$marks['fa2_m']</td>
    <td>$marks['fa2_o']</td>
    <td>$marks['fa2_g']</td>
    <td>$marks['fa2_p']</td>
  </tr>
  <tr>
    <td>SA 1</td>
    <td>$marks['sa1_m']</td>
    <td>$marks['sa1_o']</td>
    <td>$marks['sa1_g']</td>
    <td>$marks['sa1_p']</td>
  </tr>
  <tr>
    <td>FA 3</td>
    <td>$marks['fa3_m']</td>
    <td>$marks['fa3_o']</td>
    <td>$marks['fa3_g']</td>
    <td>$marks['fa3_p']</td>
  </tr>

  <tr>
    <td>FA 4</td>
    <td>$marks['fa4_m']</td>
    <td>$marks['fa4_o']</td>
    <td>$marks['fa4_g']</td>
    <td>$marks['fa4_p']</td>
  </tr>
  <tr>
    <td>SA 2</td>
    <td>$marks['sa2_m']</td>
    <td>$marks['sa2_o']</td>
    <td>$marks['sa2_g']</td>
    <td>$marks['sa2_p']</td>
  </tr>  
</table>
